In [16]:
import json

# Define the data
data = {
    "books": [
        {
            "title": "One Hundred Years of Solitude",
            "author": "Gabriel Garcia Marquez",
            "reviews": [
                {
                    "reviewer": {
                        "name": "Kanwal Mehreen",
                        "location": "Islamabad, Pakistan"
                    },
                    "rating": 4.5,
                    "comments": "Magical and completely breathtaking!"
                },
                {
                    "reviewer": {
                        "name": "Isabella Martinez",
                        "location": "Bogotá, Colombia"
                    },
                    "rating": 4.7,
                    "comments": "A marvelous journey through a world of magic."
                }
            ]
        },
        {
            "title": "Things Fall Apart",
            "author": "Chinua Achebe",
            "reviews": [
                {
                    "reviewer": {
                        "name": "Zara Khan",
                        "location": "Lagos, Nigeria"
                    },
                    "rating": 4.9,
                    "comments": "Things Fall Apart is the best of contemporary African literature."
                }
            ]
        }
    ]
}

# Write the data to a JSON file
with open('books.json', 'w') as json_file:
    json.dump(data, json_file, indent=4)

print("Data has been written to books.json")

Data has been written to books.json

### Method 1: Using the json.load() and pd.DataFrame() functions

In [17]:
import json
import pandas as pd

#Load the JSON data

with open('books.json','r') as f:
    data = json.load(f)

#Create a DataFrame from the JSON data

df = pd.DataFrame(data['books'])

df

,title,author,reviews
0,One Hundred Years of Solitude,Gabriel Garcia Marquez,"[{'reviewer': {'name': 'Kanwal Mehreen', 'loca..."
1,Things Fall Apart,Chinua Achebe,"[{'reviewer': {'name': 'Zara Khan', 'location'..."

In [19]:
#Create a DataFrame from the nested JSON data

df = pd.DataFrame([
{
'title': book['title'],
'author': book['author'],
'reviewer_name': review['reviewer']['name'],
'reviewer_location': review['reviewer']['location'],
'rating': review['rating'],
'comments': review['comments']
}
for book in data['books']
for review in book['reviews']
])

In [20]:
df

,title,author,reviewer_name,reviewer_location,rating,comments
0,One Hundred Years of Solitude,Gabriel Garcia Marquez,Kanwal Mehreen,"Islamabad, Pakistan",4.5,Magical and completely breathtaking!
1,One Hundred Years of Solitude,Gabriel Garcia Marquez,Isabella Martinez,"Bogotá, Colombia",4.7,A marvelous journey through a world of magic.
2,Things Fall Apart,Chinua Achebe,Zara Khan,"Lagos, Nigeria",4.9,Things Fall Apart is the best of contemporary ...

### Method 2 (Recommended): Using the json_normalize() function

In [22]:
import pandas as pd
import json

#Load the JSON data

with open('books.json', 'r') as f:
    data = json.load(f)

#Create the DataFrame using json_normalize()

df = pd.json_normalize(
data=data['books'],
meta=['title', 'author'],
record_path='reviews',
errors='raise'
)

df

,rating,comments,reviewer.name,reviewer.location,title,author
0,4.5,Magical and completely breathtaking!,Kanwal Mehreen,"Islamabad, Pakistan",One Hundred Years of Solitude,Gabriel Garcia Marquez
1,4.7,A marvelous journey through a world of magic.,Isabella Martinez,"Bogotá, Colombia",One Hundred Years of Solitude,Gabriel Garcia Marquez
2,4.9,Things Fall Apart is the best of contemporary ...,Zara Khan,"Lagos, Nigeria",Things Fall Apart,Chinua Achebe